
body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #FCEEEF;
    border-radius: 0px 0px 20px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1440px;
    margin: auto;
}

footer {
    background-color: #FCEEEF;
    border-radius: 20px 20px 0px 0px;
}


h1 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-top: 0px;
    font-weight: normal;
    text-align: center;
}

sup {
    text-decoration: underline;
    color: #0FB78F;
}



.wrap {
    padding: 20px;
    display: grid;
    justify-content: center;
}

.game-images {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    column-gap: 25px;
}

.tutorial {
    text-align: center;
}

.button {
    background-color: #0FB78F;
    color: white;
    width: 150px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.6s;
}

.button:hover {
    border-radius: 16px;
    color: black;
}


#button {
    opacity: 1;
}


/* #F0EBD8 #748CAB #3E5C76 #1D2D44 #0D1321
 */
